body {
   max-width: 80%; /* Set the maximum width of the page content */
  margin: 0 auto; /* Center the content within the viewport */
  padding: 20px; /* Add some padding around the content */
    font-family: sans-serif;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center; /* Center align header content */
}

main {
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow sections to wrap on smaller screens */
    justify-content: center; /* Center align sections horizontally */
}

section {
    width: 35%; /* Adjust width as needed */
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd; /* Add a subtle border */
    border-radius: 5px; /* Add rounded corners */
    line-height: 1.6;  /* Increase line spacing for better readability */
  font-weight: normal; /* Remove bold styling from the text */
  font-size: 1rem; /* Adjust font size as needed */
}

h1, h2 {
    color: #333;
    text-align: center; /* Center align headings */
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Add more styles for responsiveness and specific elements */

@media (max-width: 768px) { 
    section,.project {
        width: 90%; 
    }
}


.fade-in {
  opacity: 0; /* Initially hide the element */
  transition: opacity 1s ease-in-out; /* Add a smooth transition */
}

.fade-in.show {
  opacity: 1; /* Make the element visible when 'show' class is added */
}


.project {
  cursor: pointer; /* Indicate that the section is clickable */
  background-image: url("tracking-1.jpg");
  background-position: center;
  color: white; /* Set text color to white for contrast */
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); /* Add text shadow for readability */
}

.project-content {
  background-color: rgba(0, 0, 0, 0.05); /* Add a semi-transparent overlay */
  padding: 20px;
}

.project:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  /*  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); /* Increase shadow size and intensity */
/*   transform: scale(1.02); Slightly increase the size on hover */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.results-container {
   width: 50%; 
   background-color: #f8f8f8; /* Light background color */
    border: 1px solid #ddd; /* Subtle border */
    padding: 20px;
    border-radius: 5px; /* Rounded corners */
    margin-bottom: 20px; /* Add spacing below the container */
}
